In [1]:
# Import dependencies
import pandas as pd

In [4]:
# Read in the dataframe
df = pd.read_csv("./resources/datasets/BeerDataScienceProject.tar.bz2", compression="bz2")

# Rank the top 3 breweries which produce the strongest beers.

In [5]:
# View dataframe
df.head()

,beer_ABV,beer_beerId,beer_brewerId,beer_name,beer_style,review_appearance,review_palette,review_overall,review_taste,review_profileName,review_aroma,review_text,review_time
0,5.0,47986,10325,Sausa Weizen,Hefeweizen,2.5,2.0,1.5,1.5,stcules,1.5,A lot of foam. But a lot. In the smell some ba...,1234817823
1,6.2,48213,10325,Red Moon,English Strong Ale,3.0,2.5,3.0,3.0,stcules,3.0,"Dark red color, light beige foam, average. In ...",1235915097
2,6.5,48215,10325,Black Horse Black Beer,Foreign / Export Stout,3.0,2.5,3.0,3.0,stcules,3.0,"Almost totally black. Beige foam, quite compac...",1235916604
3,5.0,47969,10325,Sausa Pils,German Pilsener,3.5,3.0,3.0,2.5,stcules,3.0,"Golden yellow color. White, compact foam, quit...",1234725145
4,7.7,64883,1075,Cauldron DIPA,American Double / Imperial IPA,4.0,4.5,4.0,4.0,johnmichaelsen,4.5,"According to the website, the style for the Ca...",1293735206

In [17]:
df.sort_values(["beer_ABV"], ascending=False).head()

,beer_ABV,beer_beerId,beer_brewerId,beer_name,beer_style,review_appearance,review_palette,review_overall,review_taste,review_profileName,review_aroma,review_text,review_time
12889,57.70,73368,6513,Schorschbräu Schorschbock 57%,Eisbock,4.0,4.0,4.0,4.0,kappldav123,3.5,"New world strongest beer. Very limited, only 3...",1316780901
12909,43.00,57856,6513,Schorschbräu Schorschbock 43%,Eisbock,3.5,4.0,4.0,4.0,Sunnanek,4.0,43% ABV - this is so crazy! A: Pour is warm am...,1309974178
12910,43.00,57856,6513,Schorschbräu Schorschbock 43%,Eisbock,4.0,4.0,3.5,4.0,kappldav123,4.5,"The bottle looks really great, handnumbered an...",1274469798
12911,39.44,55712,6513,Schorschbräu Schorschbock 40%,Eisbock,3.0,3.0,3.0,2.0,orangesol,3.0,Thanks to foofaa for sharing his sample with m...,1321041551
12913,39.44,55712,6513,Schorschbräu Schorschbock 40%,Eisbock,4.5,4.5,4.0,4.0,kappldav123,4.5,The new world strongest beer - I thing it will...,1264684153

In [24]:
abv_rank = df.groupby(["beer_brewerId"])["beer_ABV"].nlargest().sort_values(ascending=False)
abv_rank_df = pd.DataFrame(abv_rank)
abv_rank_df

                      beer_ABV
beer_brewerId
6513          12889      57.70
              12910      43.00
              12909      43.00
              12911      39.44
              12912      39.44
...                        ...
24676         56775       1.20
              56776       0.50
19144         397341      0.50
              397342      0.50
              397343      0.50

[6530 rows x 1 columns]

In [47]:
abv_rank_df.index.get_level_values('beer_brewerId').unique()

Int64Index([ 6513,    35, 16866,  2958, 18796,   848,  4614,  1628,   351,
            24803,
            ...
            17004,  1431, 23742, 19455,  8515, 20706, 16238, 22698, 21983,
            24676],
           dtype='int64', name='beer_brewerId', length=1607)

# 2. Which year did beers enjoy the highest ratings?

In [49]:
df['review_date'] = pd.to_datetime(df['review_time'], format='%Y%m%d')
df

ValueError: unconverted data remains: 823